# Ignore bundler config
/.bundle
/vendor/bundle

# chruby or rvm
/.ruby-version

# dotenv
/.env
/.env.*

# Ruby Mine
/.idea

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore mysql docker persisted volume
/.db_data

